<body>
    <div class="navbar">
        <div class="logo">
            <img src="assets/logos/logo_2.png" alt="Logo">
        </div>
        <div class="menu">
            <a href="index.html">HOME</a>
            <a href="#">JOB</a>
            <a href="web_page/employee/contact_us.html">CONTACT</a>
            <a href="web_page/employee/about_us.html">ABOUT US</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button onclick="searchFunction()">Search</button>
            <div class="login-logout">
                <button style="border-radius: 0px;background-color: transparent;">Login</button>
                <button style="border-radius: 0px;background-color: transparent;">Logout</button>
                <div class="dropdown">
                    <button class="profile-btn" style="background-color: transparent;">
                        <img src="assets/images/profiles.png" alt="Profile Icon">
                    </button>
                    <div class="dropdown-content">
                        <a href="#">My Profile</a>
                        <div class="sub-dropdown">
                            <a href="#" class="sub-dropbtn">Post Job</a>
                            <div class="sub-dropdown-content">
                                <a href="#">Enterprise</a>
                                <a href="#">Talent Pool</a>
                            </div>
                        </div>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>