ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color:#003370;
    display: flex;
}
li a{
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    padding-left: 60px;

}
li img{
    width: 60px;
    padding-left: 40px;
}
.card-text {
    color: black; 
}
.card-title{
    display: inline;
    justify-content: space-between;
    display: flex;
    padding-right: 200px;
}
.card border-primary mb-3{
    border-color: black;
}
.button button{
    border-radius: 10px;
    height: 40px;
    color: #ffff;
}
.button{
    justify-content: space-between ;
    padding-left: 150px;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.card-ul {
    list-style-type:circle;
    padding: 0;
    margin: 0;
    background-color: #ffff;
}

.card-ul{
    display: block;
    margin-bottom: 5px;
    color: black;
}