body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    padding: 50px;
    width: 50%;
    box-sizing: border-box;
}

.form-container .header {
    text-align: center;
    margin-bottom: 20px;
}

.form-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #003370;
    text-align: center;
}

.form-container h4 {
    margin-bottom: 30px;
    font-size: 16px;
    color: #777;
    text-align: center;
}

.input-container p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkform {
    display: normal;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.checkform .forgot-password {
    color: #003370;
    text-decoration: none;
}

.checkform .forgot-password:hover {
    text-decoration: underline;
}

.btn-login {
    text-align: center;
    margin-top: 20px;
}

.btn-login button {
    background-color: #003370;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login button:hover {
    background-color: #002357;
}

.confirm {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.confirm a {
    color: #003370;
    text-decoration: none;
}

.confirm a:hover {
    text-decoration: underline;
}

.image-container {
    width: 50%;
    background: url('/assets/images/login_background.jpg') no-repeat center center;
    background-size: cover;
}
